extends ../layout

block content
    h1.
        EventID #{blob._id}
    p Title: #{blob.title}
    p Description: #{blob.description}
    p Date: #{blob.date}
    p Organiser: #{blob.organiser}
    p TicketPrice: #{blob.ticketprice}